.purple
  background-color: $themeColor
  color: white

.titleBox
  padding: 5px 10px

.form-container
  margin-top: 30px

div.empty
  min-height: 42px

button.btn-purple
  background-color: $themeColor
  color: white

button.btn-purple:hover, button.btn-purple:active, button.btn-purple:focus
  background-color: $secondaryColor


div.row.button-group
  margin-bottom: 20px
  button
    //margin-left: 10px
    margin-right: 15px
    padding-left: 20px
    padding-right: 20px
    margin-bottom: 10px

.navbar
  .row
    margin-top: 20px